body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    overflow: hidden;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
}

.menu {
    background-color: white;
    width: 30%;
    height: 100%;
    display: flex;
    padding: 10px 20px;
    box-shadow: 1px 0px 6px 0px rgba(50, 50, 50, 0.75);
    flex-direction: column;
    z-index: 99;
}

.tabs {
    width: 100%;
    display: flex;
    height: 30px;
    justify-content: space-around;   
}

.tab {
    text-transform: uppercase;
    background-color: white;
    transition: background 0.2s linear, color 0.2s linear, border 0.2s linear;
    color: darkslategrey;
    border-bottom: darkslategrey 2px solid;
    text-align: center;
}   

.tab:hover {
    cursor: pointer;
    color: black;
    border-bottom: green 2px solid;
}

.choosed {
    color: black;
    border-bottom: 2px solid lightgreen;
}

.ctx {
    width: 100%;
    height: calc(100% - 50px);
}

.ctx_list_wrapper {
    width: 100%;
    height: calc(100% - 10px);
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 10px; 
}

.list-option {
    width: 100%;
    height: 20px;
    text-transform: uppercase;
    margin-bottom: 5px;
    background-color: white;
    color: darkslategrey;
    transition: background 0.2s linear, color 0.2s linear;
}

.list-option:hover {
    background-color: rgba(50, 50, 50, 0.2);
    cursor: pointer;
}

.list_choosed { 
    color: green;
    background-color: rgba(0, 128, 0, 0.15);
}

.ctx_micro_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ctx_micro {
    width: 100%;
    height: calc(100% - 50px);
    fill: darkslategrey;
}